.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 1023px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 30px;
    background-color: #DEF2F1;
    box-sizing: border-box;
}

.search-text {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #2B7A77;
}

.search-text1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.search-box {
    width: 1023px;
    height: 100px;
    margin-top: 20px;
    text-align: center;
}

.search-input {
    width: 70%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #2B7A77;
    color: white;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.info-box {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.highlight-box {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

h1,
h4 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

h2,
h3 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

ul {
    margin-top: 0px;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 0;
}

li {
    text-align: left;
    left: 28px;
    top: 479px;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 20px;
}

/* CSS cho birthday slide */
.birthday-slide {
    background-color: #2B7A77;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
}

.birthday-slide .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.birthday-slide .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 4px solid white;
}

.birthday-slide .caption {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    /* Bất kỳ các thuộc tính CSS khác để tạo highlight nổi bật */
}