body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

li {
    text-align: left;
    left: 28px;
    top: 479px; 
    font-size: 24px;
    font-weight: lighter;
    margin-top: 20px;
}

ul {
    margin-top: 0px;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 0;
}

.info-box {
    position: absolute;
    left: 45px;
    top: 1653px;
    width: 650px;
    height: 1300px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h4 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
}

.highlight-box {
    position: absolute;
    left: 747px;
    top: 1653px;
    width: 650px;
    height: 1300px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}